[submodule "Bank-code/Bank/lib/forge-std"]
	path = Bank-code/Bank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D4/MyToken/lib/forge-std"]
	path = W2D4/MyToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D4/MyToken/lib/openzeppelin-contracts"]
	path = W2D4/MyToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D3/esRNT/lib/forge-std"]
	path = W4D3/esRNT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "InsertionSort/lib/forge-std"]
	path = InsertionSort/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
